<!DOCTYPE html>
{% extends 'apps/index.html' %}
{% block body_block %}
<div class="col-md-6 offset-md-3">
 {% if messages %}
   {% for message in messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
     {{message}}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endfor %}
 {% endif %}
{% if user.is_authenticated %}
<h1>Hello..</h1>
{% else %}
</br></br>
   <h1 style="font-family:'Times New Roman', Times, serif;text-align: center;">Login</h1></br>
   <form method="POST">
       {% csrf_token %}
       <form>
           <div class="mb-3">
             <label class="form-label">User Name</label>
             <input type="text" class="form-control" name="username" placeholder="Enter User Name" required>
           </div>
           <div class="mb-3">
             <label for="exampleInputPassword1" class="form-label">Password</label>
             <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
           </div>
           <button type="submit" class="btn btn-primary">Login</button>
         </form>
        </br></br></br>
         <h5 style="font-family: 'Times New Roman', Times, serif;">Username : admin</br>
          Passsword : 123456</h4>
   </form>
</div>
{% endif %}
{% endblock %}